body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  margin: 0;

}

/* reset */
ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

/* common */
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-containet {
  display: flex;
  align-items: center;
}

.header-navdis {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

/* header */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  padding: 24px 0;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
.main-page {
  background: #2e2f42;
  padding: 188px 0;
}

.main-title {
  max-width: 496px;
  margin: 0 auto;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 48px;
  
  
}

.button {
  display: block;
  color: #ffffff;
  background: #4d5ae5;
  min-width: 169px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.menu-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
/* #region Hero */

.hero {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero-item-titlm {
  display: flex;
  align-items: center;
  gap: 24px;
}

.hero-item-list {
  width: calc((100%-72px)/4)
}

.hero-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.hero-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion Hero */

/* #region portfolio */

.portfolio {
  padding: 120px 0;
}

.contants-portfolio {
}

.portfolio {
  background-color: #f4f4fd;
}

.portfolio-logo {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.protfolio-cart-item {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-right: 0;
}

.protfolio-cart {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  padding: 0px 0px 32px 0px;
  width: 264px;
  height: 380px;
}

.text-img {
  padding: 32px 0;
}

.cart-content {
  text-align: center;
  margin-bottom: 8px;
}

.cart-content-tem {
  text-align: center;
}

.cart-content {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.cart-content-tem {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion portfolio */

/* #region projetc */

.project {
  padding: 120px 0;
}

.project-logo-title {
  margin-bottom: 72px;
}

.project-cart-item {
  display: flex;
  align-items: center;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.project-cart {
  width: calc((100% - 48px) / 3);
}

.wrap {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.project-logo-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.project-cart {
}
.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.projet-texi {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* #endregion project */

/* #region footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}
.footer-logo-part {
  color: #f4f4fd;
  display: inline-block;
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.logo-foot {
  display: inline-block;
}

/* #endregion footer */
